extends baseAuth 

block append head  
    script(src="/js/controllers/resetPasswordController.js" type="module" defer) 

block main 
  div
  #prompt-heading.signup-prompt__head(data-helper="reset-password")
    .signup-prompt__head-text Reset your password.
  form#prompt-form.app-form.app-form__column(action='')
    input#password(type='password', name='password', placeholder='Password', minlength='8', maxlength='25', value='#1234567eR', autocomplete='current-password', pattern='^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[@$!%*?&#])[A-Za-z\\d@$!%*?&#]{8,25}$', required='')
    label(for='password') Password
    input#password-confirm(type='password', name='confirm-password', placeholder='Confirm password', minlength='8', maxlength='25', value='#1234567eR', autocomplete='current-password', pattern='^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[@$!%*?&#])[A-Za-z\\d@$!%*?&#]{8,25}$', required='')
    label(for='password-confirm') Confirm password
    input#submit-input.btn.btn__main(type='submit', value='Login', required='')

block intro-img 
  img(src="../Imgs/logos/Dall-E/OIG_auto_x2.jpg")