:root {
  --color-secondary: #d0d6f9;
  --color-secondary-rgb: rgb(208, 214, 249);
  --color-dark: #0b0d17;
  --color-white: #ffffff;
  --color-tertiary-rgb: rgb(255, 255, 255);
  --color-tertiary-super-light: rgba(255, 255, 255, 0.05);
  --color-tertiary-medium-light: rgba(255, 255, 255, 0.09);
  --color-tertiary-custom-light: rgba(255, 255, 255, 0.25);
  --color-tertiary-light: rgba(255, 255, 255, 0.5);
  --lowest-z-index: -10;
  --gradient-color-1: #a960ee;
  --gradient-color-2: #ff333d;
  --gradient-color-3: #90e0ff;
  --gradient-color-4: #ffcb57;
  --gradient-color-5: #2d3e50;
  --gradient-color-6: #01c26e;
  --gradient-color-7: #e24c3f;
  --gradient-color-8: #f3c40f;
  --gradient-color-9: #4cd4b0;
  --gradient-color-10: #fffce6;
  --gradient-color-11: #f24d16;
  --gradient-color-12: #edd834; }

*,
*:link,
*::after,
*::before,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  background-color: var(--color-primary); }

body {
  font-size: 1.6rem;
  font-family: 'Marcellus';
  box-sizing: border-box;
  color: #111111; }

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem; }
  main.main__signup {
    padding: 1.2rem 2.5rem; }
  @media (min-width: 850px) {
    main {
      flex-direction: row; } }

.app-form {
  display: flex;
  justify-content: center; }
  .app-form > input[type='submit'] {
    align-self: center; }
  .app-form > input:not([type='submit']) {
    border: none;
    background-color: transparent;
    transition: border 0.3s; }
    .app-form > input:not([type='submit'])::-ms-input-placeholder {
      color: transparent; }
    .app-form > input:not([type='submit']):-moz-placeholder {
      color: transparent; }
    .app-form > input:not([type='submit'])::-moz-placeholder {
      color: transparent; }
    .app-form > input:not([type='submit'])::-webkit-input-placeholder {
      color: transparent; }
  .app-form > input:not([type='submit']):not([data-input-type='OTP']) {
    height: 6rem;
    border-radius: 10px;
    padding: 0.8rem 0 0 0.6rem;
    border: 1px solid gray;
    font-family: inherit; }
    .app-form > input:not([type='submit']):not([data-input-type='OTP']):focus {
      outline: none;
      border: 1px solid var(--gradient-color-6); }
      .app-form > input:not([type='submit']):not([data-input-type='OTP']):focus + label {
        color: var(--gradient-color-6); }
      .app-form > input:not([type='submit']):not([data-input-type='OTP']):focus:invalid {
        border: 1px solid var(--gradient-color-2); }
        .app-form > input:not([type='submit']):not([data-input-type='OTP']):focus:invalid + label {
          color: var(--gradient-color-2); }
    .app-form > input:not([type='submit']):not([data-input-type='OTP']):not(:placeholder-shown) + label,
    .app-form > input:not([type='submit']):not([data-input-type='OTP']):focus + label {
      font-size: 1.2rem;
      bottom: 6.3rem;
      margin-bottom: 0.5rem; }
  .app-form > label {
    position: relative;
    margin: 0 0 0 0.6rem;
    bottom: 4.95rem;
    color: darkgray;
    transition: bottom 0.05s; }
  .app-form__column {
    flex-direction: column; }
    .app-form__column > input:not(:last-child) {
      margin: 0 0 1rem 0; }
  .app-form > div#captcha-container {
    margin: 0 0 1rem 0.5rem; }
    @media (max-width: 35em) {
      .app-form > div#captcha-container {
        position: relative;
        left: -2rem;
        transform: scale(0.9); } }
    @media (max-width: 22em) {
      .app-form > div#captcha-container {
        position: relative;
        left: -3rem;
        transform: scale(0.8); } }
  .app-form .otp-container {
    display: flex;
    justify-content: center;
    height: 4rem;
    margin: 2rem 0; }
    .app-form .otp-container input[data-input-type='OTP'] {
      text-align: center;
      border: none;
      border-bottom: 0.4rem solid grey;
      height: 100%;
      background-color: transparent;
      font-size: 2rem;
      color: inherit;
      /* Hide the up and down arrows of the number input */ }
      .app-form .otp-container input[data-input-type='OTP']:not(:last-child) {
        margin-right: 1rem; }
      .app-form .otp-container input[data-input-type='OTP'][type='number']::-webkit-inner-spin-button, .app-form .otp-container input[data-input-type='OTP'][type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0; }
      .app-form .otp-container input[data-input-type='OTP'][type='number'] {
        -moz-appearance: textfield;
        /* Firefox */ }
      .app-form .otp-container input[data-input-type='OTP']:focus {
        outline: none; }
      .app-form .otp-container input[data-input-type='OTP']:valid {
        border-color: var(--gradient-color-6); }
      .app-form .otp-container input[data-input-type='OTP']:invalid {
        border-color: var(--gradient-color-2); }
      @media (max-width: 28em) {
        .app-form .otp-container input[data-input-type='OTP'] {
          font-size: 1.6rem; } }
      @media (max-width: 25em) {
        .app-form .otp-container input[data-input-type='OTP'] {
          font-size: 1.4rem; } }
      @media (max-width: 21em) {
        .app-form .otp-container input[data-input-type='OTP'] {
          font-size: 1.2rem; } }
      @media (max-width: 18.5em) {
        .app-form .otp-container input[data-input-type='OTP'] {
          font-size: 1rem;
          height: 50%; } }
    @media (max-width: 18.5em) {
      .app-form .otp-container {
        margin: 0; } }

.btn {
  border: none;
  font-family: inherit; }
  .btn__main {
    font-size: 2rem;
    max-width: 25rem;
    width: 60%;
    height: 4rem;
    border-radius: 50px;
    color: white;
    background-color: var(--gradient-color-6); }
    .btn__main--red {
      background-color: var(--gradient-color-7); }
  .btn__signup[data-state='active'] {
    text-decoration: underline; }

.footer__signup {
  color: var(--color-white);
  background-color: var(--color-dark);
  padding: 2rem;
  text-align: center; }

.intro-head {
  width: 100%; }
  .intro-head > div {
    padding: 0 0.7rem; }
  .intro-head__logo {
    font-size: 2.8rem; }
  .intro-head__hero-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    .intro-head__hero-text > span {
      font-size: 2rem; }

.logo {
  position: relative;
  display: inline-block;
  padding: 0.3rem; }
  .logo__text {
    top: 0;
    left: 0;
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Cinzel';
    font-size: 4.5rem;
    mix-blend-mode: color-burn;
    color: #3a3a3a;
    opacity: 1; }
  .logo__phrase {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
    max-width: 60rem;
    min-width: 25rem;
    font-family: 'cinzel';
    color: #000000; }
    .logo__phrase > span {
      opacity: 0.5; }

.glassmorph {
  background: rgba(255, 255, 255, 0.25);
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid white; }

@media (min-width: 83em) {
  .signup__root-item {
    flex: 1; } }

.signup-prompt {
  display: flex;
  flex-direction: column;
  margin: 2.8rem 0;
  overflow: hidden;
  padding-bottom: 2rem; }
  .signup-prompt > :not(:first-child) {
    padding: 0 1.2rem; }
  .signup-prompt > div {
    margin-top: 1.5rem; }
  .signup-prompt__prompt-btns {
    display: flex; }
    .signup-prompt__prompt-btns > span {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      font-size: 2.1rem; }
    .signup-prompt__prompt-btns > span:last-child {
      border-left: 1px solid grey; }
  .signup-prompt__head-text {
    font-size: 2.3rem; }
  .signup-prompt__head-cross-check {
    font-size: 1.2rem; }
  .signup-prompt__cross-check {
    margin-top: 3rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .signup-prompt__cross-check > :not(:last-child) {
      margin-bottom: 1rem; }
    .signup-prompt__cross-check > button {
      width: 10rem; }

#gradient-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: var(--lowest-z-index); }
