extends baseEmail 

block content
        H3 Hello #{firstName},
        p  Welcome to Wembox! We're thrilled to have you as one of our first users. Please enter the 6-digit verification code on our signup page to complete the process
        h2 #{otp}
        p If yo did not initaite this verification otp, please ignore this email. Thank you! 