extends baseEmail 

block content
        p Hello #{firstName},

        p It seems like you've forgotten your password for Wembox, but no worries – we're here to help you get back on track! To reset your password and regain access to your account, please follow the steps below:

        p 1. Click on the following link to reset your password:
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') Reset your password 

        p(style="font-weight: bold") OR

        p(style="max-width: 95vw; text-wrap: wrap") 2. If the button doesn't work, you can also copy and paste the following URL into your browser: #{url}
        
        p Please ensure that you use this link or button within the next [10 mins] to reset your password. If you didn't request this change or have any concerns about your account security, please contact our support team immediately at https://wembox.com/wembox or simply reply this email. 

        p Thank you for choosing Wembox. We're here to make your experience seamless and secure.

        p Best Regards,
        p Wembox Support Team