extends baseEmail 

block content
        H3 Dear #{firstName},
        p Thank you for joining us! Welcome aboard Wembee, a visionary project born out of the dream of placing African startups at the forefront of global technology. Wembox is a dynamic space where you can express creativity and forge new connections.

        p The Wembox vision goes beyond being just a social networking site. Simultaneously, it is designed to provide businesses with the ability to share real-time information with their customers, offering users a better customer experience as they engage with these businesses.

        p In addition to facilitating the growth of businesses on our platform, our goal is to serve as a hub for creativity and connections—a place where human communication is elevated to a new level.

        p Thank you once again for embarking on this transformative journey with us. We are excited to witness your growth on Wembox, just as you aspire to see us thrive. Together, let's create a vibrant community that celebrates innovation and connection.
        p Best Regards,
        br
        p Nwodoh Daniel
        p Lead Member, Wembox Team 