.signup {
  &__root-item {
    @media (min-width: 850px) {
      flex: 1;
    }
  }

  &-prompt {
    display: flex;
    flex-direction: column;
    margin: 3rem 0 2rem 0;

    &__prompt-btns {
      border: 1px solid red;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 1rem;
    }
  }
}

#gradient-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: var(--lowest-z-index);
  --gradient-color-1: #c3e4ff;
  --gradient-color-2: #6ec3f4;
  --gradient-color-3: #eae2ff;
  --gradient-color-4: #b9beff;
}
