.signup {
  &__root-item {
    margin-bottom: 2rem;
    &.intro-img-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      & img {
        width: 100%;

        @media (min-width: 53.15em) {
          width: 86%;
        }
      }
    }
    @media (min-width: 53.15em) {
      flex: 1;
    }
  }

  &-prompt {
    display: flex;
    flex-direction: column;
    margin: 2.8rem 0;
    overflow: hidden;
    padding-bottom: 2rem;

    & > :not(:first-child) {
      padding: 0 1.2rem;
    }

    > div {
      margin-top: 1.5rem;
      &[data-helper='reset-password'] {
        margin: 0 0 1rem 0;
      }
    }

    &__prompt-btns {
      display: flex;

      & > span {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        font-size: 2.1rem;
      }

      & > span:last-child {
        border-left: 1px solid grey;
      }
    }

    &__head-text {
      font-size: 2.3rem;
    }

    &__head-cross-check {
      font-size: 1.2rem;
    }

    &__cross-check {
      margin-top: 3rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      > :not(:last-child) {
        margin-bottom: 1rem;
      }

      > button {
        width: 10rem;
      }
    }
  }
}

#gradient-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: var(--lowest-z-index);
}
