.app-modal {
  display: block !important; // Important for smaller view-ports
  position: absolute;
  width: 100vw;
  height: 100dvh;
  z-index: var(--z-index-heighest);
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.199);
  }
  &__modal {
    min-width: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 0.5rem;

    &--no-padding {
      padding: 0 !important;
    }

    &--topic-suggestion {
      padding: 0;
      overflow: hidden;
      border: none !important;
    }
  }

  &__loader {
    width: 5rem;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
    background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
    background-size: calc(100% / 3) 50%;
    animation: l3 1s infinite linear;

    &--modal {
      margin: 1.5rem 3rem;
    }
  }
}
