.chat {
  &__container {
    --height-of-input-container: 7rem;
    --children-padding: 3rem;
    position: relative;
    // margin: 0 3rem;

    &--pre-load {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      // background-color: var(--color-white);
      z-index: 2;

      & > img {
        width: 10rem;
        height: 10rem;
      }
    }

    &__header {
      position: absolute;
      width: 100%;
      top: 0rem;
      left: 0rem;
      padding: 1.5rem 0 0.5rem var(--children-padding);
      background: rgba(255, 255, 255, 0.85);
      backdrop-filter: blur(12px);
      -webkit-backdrop-filter: blur(12px);
      z-index: var(--z-index-header);

      & > div[data-type='profile'] {
        --profile-gap: 1rem;
        --img-width: 4rem;

        display: flex;
        border: 1px solid black;
        padding: 0.5rem;
        border-radius: 0.7rem;
        gap: var(--profile-gap);
        width: 20rem;
        overflow: hidden;
        background-color: var(--color-white);

        & > img {
          width: var(--img-width);
          height: var(--img-width);
          border-radius: 0.5rem;
        }

        & > div[data-type='details'] {
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          & > p[data-type='name'] {
            color: black;
            max-width: calc(
              100% - (var(--img-width) + var(--profile-gap) + 3rem)
            );
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }

          & > p[data-type='online-status'] {
            color: gray;
            font-size: 1.1rem;
            font-family: monospace;
            text-transform: capitalize;

            &.active {
              color: var(--gradient-color-6);
            }
          }
        }
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: end;
      overflow: auto;
      height: calc(100% - var(--height-of-input-container));

      & > div {
        overflow: auto;
        padding: 9.2rem var(--children-padding) 0;
        display: flex;
        flex-direction: column-reverse;

        & > div {
          margin-bottom: 2.4rem;
        }
      }
    }

    &__inputs {
      --height-of-input-elements: 4rem;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: white;
      padding: 0.5rem 1rem
        calc(
          var(--height-of-input-container) -
            (var(--height-of-input-elements) + 0.5rem)
        );
      padding-top: 0.5rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      & > form {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        position: relative;

        & > div:not([data-type='chat-media-preview']) {
          width: var(--height-of-input-elements);
          height: var(--height-of-input-elements);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          background-color: var(--color-white);
          border: 2px solid var(--theme-blue);
          overflow: hidden;
          cursor: pointer;
          transition: background-color 0.2s border-color 0.2s;

          &:hover {
            background-color: var(--theme-blue);

            & > svg {
              fill: var(--color-white);
            }
          }

          & > svg {
            fill: var(--theme-blue);
            position: relative;
            transition: fill 0.2s;

            &[data-type='send-chat-icon'] {
              left: 0.15rem;
              bottom: -0.12rem;
            }
          }

          & > input[data-type='chat-preview-input'] {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            width: 100%;
            z-index: 1;
            opacity: 0;
            cursor: pointer;
          }
        }

        & > textarea {
          background-color: transparent;
          border: 2px solid var(--theme-blue);
          border-radius: 1.3rem;
          height: 4rem;
          outline: transparent;
          padding: 1rem 0.5rem 0.5rem 1rem;
          max-height: 6.5rem;
          max-width: 27rem;
          font-family: inherit;
        }
      }
      & > div[data-type='chat-media-preview'] {
        // box-shadow: rgb(229, 234, 236) 0px 2px 12px;
        border: 2px solid var(--theme-blue);
        border-radius: 0.4rem;
        max-height: 15rem;
        max-width: 70%;
        position: relative;
        box-sizing: content-box;

        & > img {
          max-width: 100%;
          max-height: 15rem;
        }

        & > span[data-type='delete-preview'] {
          --element-width: 3rem;
          background-color: var(--theme-blue);
          width: var(--element-width);
          height: var(--element-width);
          border-radius: 50%;
          position: absolute;
          right: calc((var(--element-width) * -1) / 2);
          top: 50%;
          transform: translateY(-50%);
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          &:hover {
            background-color: var(--theme-blueish-white);

            & > svg {
              fill: var(--gradient-color-7);
            }
          }

          & > svg {
            fill: var(--color-white);
            width: 1.8rem;
            height: 1.8rem;
          }
        }
      }
    }
  }
}

// &::-webkit-scrollbar {
//   width: auto;
// }
// &::-webkit-scrollbar-track {
//   background: #fafafa;
// }
// &::-webkit-scrollbar-thumb {
//   background: #f3f3f3;
// }
// &::-webkit-scrollbar-thumb:hover {
//   background: #d8d8d8;
// }
