.chat {
  &__container {
    --height-of-input-container: 7rem;
    --children-padding: 3rem;
    position: relative;
    // margin: 0 3rem;

    @media only screen and (max-width: 62.5em) {
      --height-of-input-container: 6rem;
    }

    @media only screen and (max-width: 43.748em) {
      --children-padding: 2rem;
      --height-of-input-container: 5rem;
    }

    @media only screen and (max-width: 37.5em) {
      --children-padding: 1rem;
    }

    &--pre-load {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      // background-color: var(--color-white);
      z-index: 2;

      & > img {
        width: 10rem;
        height: 10rem;
      }
    }

    &__header {
      position: absolute;
      width: 100%;
      top: 0rem;
      left: 0rem;
      padding: 1.5rem var(--children-padding) 0.5rem;
      background: rgba(255, 255, 255, 0.85);
      -webkit-backdrop-filter: blur(12px);
      backdrop-filter: blur(12px);
      z-index: var(--z-index-header);
      display: flex;
      align-items: center;
      gap: 0.7rem;

      @media only screen and (max-width: 37.5em) {
        padding-top: 1rem;
      }

      @media only screen and (max-width: 25em) {
        padding: 0.7rem 0.7rem 0.5rem;
      }

      & > button[data-type='close-chat-btn'] {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        border: none;
        background-color: transparent;

        @media only screen and (max-width: 43.748em) {
          display: flex;
        }

        & > svg {
          position: relative;
          left: 10%;
          height: 2.2rem;
          width: 2.2rem;
          // fill: var(--theme-blue);
        }

        &:hover {
          background-color: #f0f0f0;

          & > svg {
            fill: var(--theme-blue);
          }
        }
      }

      & > div[data-type='profile'] {
        --profile-gap: 1rem;
        --img-width: 4rem;

        display: flex;
        border: 1px solid black;
        padding: 0.5rem;
        border-radius: 0.7rem;
        gap: var(--profile-gap);
        width: 20rem;
        overflow: hidden;
        background-color: var(--color-white);

        & > img {
          width: var(--img-width);
          height: var(--img-width);
          border-radius: 0.5rem;
        }

        & > div[data-type='details'] {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          max-width: 13.5rem;

          & > p[data-type='name'] {
            color: black;
            // max-width: calc(
            //   100% - (var(--img-width) + var(--profile-gap) + 3rem)
            // );
            max-width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }

          & > p[data-type='online-status'] {
            color: gray;
            font-size: 1.1rem;
            font-family: monospace;
            text-transform: capitalize;

            &.active {
              color: var(--gradient-color-6);
            }
          }
        }
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: end;
      overflow: auto;
      height: calc(100% - var(--height-of-input-container));
      width: 100%;

      & > div {
        overflow: auto;
        padding: 9.2rem var(--children-padding) 0;
        display: flex;
        flex-direction: column-reverse;

        & > div {
          margin-bottom: 2.4rem;
        }
      }
    }

    &__inputs {
      --height-of-input-elements: 4rem;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: white;
      padding: 0.5rem 1rem
        calc(
          var(--height-of-input-container) -
            (var(--height-of-input-elements) + 0.5rem)
        );
      padding-top: 0.5rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      @media only screen and (max-width: 43.748em) {
        // padding: 0.5rem 1rem 0.5rem;
      }

      // @media only screen and (max-width: 37.5em) {
      //   --children-padding: 1rem;
      // }

      & > form {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        position: relative;

        @media (max-width: 29.9em) {
          gap: 0.5rem;
          max-width: 100%;
        }

        & > button:not([data-type='chat-media-preview']) {
          width: var(--height-of-input-elements);
          height: var(--height-of-input-elements);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          background-color: var(--color-white);
          border: 2px solid var(--theme-blue);
          overflow: hidden;
          cursor: pointer;
          transition: background-color 0.2s border-color 0.2s;

          &:hover {
            background-color: var(--theme-blue);

            & > svg {
              fill: var(--color-white);
            }
          }

          &[type='submit']:disabled {
            cursor: not-allowed;
          }

          & > svg {
            fill: var(--theme-blue);
            position: relative;
            transition: fill 0.2s;

            &[data-type='add-image-icon'] {
              width: 2.4rem;
              height: 2.4rem;
            }

            &[data-type='send-chat-icon'] {
              width: 2.2rem;
              height: 2.2rem;
              left: 0.15rem;
              bottom: -0.12rem;
            }
          }

          & > input[data-type='chat-media-preview-input'] {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            width: 100%;
            z-index: 1;
            opacity: 0;
            cursor: pointer;
          }
        }

        & > textarea {
          background-color: transparent;
          border: 2px solid var(--theme-blue);
          border-radius: 1.3rem;
          height: 4rem;
          outline: transparent;
          padding: 1rem 0.5rem 0.5rem 1rem;
          max-height: 6.5rem;
          max-width: 27rem;
          font-family: inherit;

          @media (max-width: 29.9em) {
            max-width: 66vw;
          }
        }
      }

      & > div[data-type='chat-media-preview-container'] {
        --max-height: 15rem;
        --cancel-btn-width: 3rem;

        display: flex;
        align-items: center;
        max-height: var(--max-height);
        max-width: 70%;
        overflow: scroll;
        padding: 0 calc(var(--cancel-btn-width) / 2);
        gap: calc(var(--cancel-btn-width) / 2);

        & > div[data-type='chat-media-preview'] {
          // box-shadow: rgb(229, 234, 236) 0px 2px 12px;
          border: 2px solid var(--theme-blue);
          border-radius: 0.4rem;
          max-height: calc(var(--max-height) - 1rem);
          max-width: 100%;
          min-width: 10.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          box-sizing: content-box;

          & > img {
            max-width: 100%;
            max-height: calc(var(--max-height) - 1.2rem);
          }

          & > span[data-type='delete-chat-media-preview'] {
            background-color: var(--theme-blue);
            width: var(--cancel-btn-width);
            height: var(--cancel-btn-width);
            border-radius: 50%;
            position: absolute;
            right: calc((var(--cancel-btn-width) * -1) / 2);
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:hover {
              background-color: var(--theme-blueish-white);

              & > svg {
                fill: var(--gradient-color-7);
              }
            }

            & > svg {
              fill: var(--color-white);
              width: 1.8rem;
              height: 1.8rem;
            }
          }
        }
      }
    }
  }
}
