.entity {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  &__img {
    margin-right: 0.5rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 2px solid transparent;
  }

  &__content {
    flex-grow: 1;
    max-width: calc(100% - 65px);
  }

  &__title {
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 0.8;
    color: var(--color-dark);
  }

  &__message {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;

    &__message {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 30rem;

      @media (min-width: 35em) {
        max-width: 35rem;
      }
      @media (max-width: 30em) {
        max-width: 25rem;
      }
      @media (max-width: 25em) {
        max-width: 20rem;
      }
      @media (max-width: 22em) {
        max-width: 17rem;
      }
    }

    &__time {
      font-size: 1.1rem;
      display: flex;
      align-items: center;
      gap: 1.3%;
      color: #aebac7;
      position: relative;
      top: -0.3rem;

      & > svg {
        width: 2rem;
        height: 2rem;
        fill: #aebac7;
      }
    }
  }

  &.seen &__message {
    &__time {
      color: var(--theme-blue);

      & > svg {
        fill: var(--theme-blue);
      }
    }
  }

  &.received &__message,
  &.unseen &__message {
    &__time {
      top: 0.1rem;
      & > svg {
        display: none;
      }
    }
  }

  &.unseen,
  &.unseen &__title {
    color: var(--theme-blue);
    // &.unseen &__message__time,
  }
}
