.entity {
  display: flex;
  align-items: center;
  cursor: default;
  padding: 0.75rem 1.3rem;

  &__img {
    margin-right: 0.5rem;
    width: 6.1rem;
    height: 6.1rem;
    max-width: 6.1rem;
    max-height: 6.1rem;
    border-radius: 50%;
    border: 2px solid transparent;
    overflow: hidden;
  }

  &__content {
    flex-grow: 1;
    max-width: calc(100% - 65px);
  }

  &__title {
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 0.8;
    color: var(--color-dark);
  }

  &__message {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;

    &__message {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 30rem;

      @media (min-width: 35em) {
        max-width: 35rem;
      }
      @media (max-width: 30em) {
        max-width: 25rem;
      }
      @media (max-width: 25em) {
        max-width: 20rem;
      }
      @media (max-width: 22em) {
        max-width: 17rem;
      }
    }

    &__time {
      font-size: 1.1rem;
      display: flex;
      align-items: center;
      gap: 1.3%;
      color: #aebac7;
      position: relative;
      top: -0.3rem;

      & > svg {
        width: 2rem;
        height: 2rem;
        fill: #aebac7;
      }
    }
  }

  &__alert-number {
    --element-width: 1.5rem;
    height: var(--element-width);
    min-width: var(--element-width);
    width: max-content;
    padding: 0.5rem;
    border-radius: calc(var(--element-width) / 2);
    background-color: var(--theme-blue);
    color: var(--color-white);
    display: none;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    background-color: var(--theme-blueish-white-2);
  }

  &.active {
    background-color: var(--theme-blueish-white);
  }

  &.sent__seen &__message {
    &__time {
      // color: var(--theme-blue);

      & > svg {
        fill: var(--theme-blue);
      }
    }
  }

  &.received__seen &__message,
  &.received__unseen &__message {
    &__time {
      top: 0.1rem;
      & > svg {
        display: none;
      }
    }
  }

  &.received__unseen,
  &.received__unseen &__title,
  &.received__unseen &__message__time {
    color: var(--theme-blue);
  }

  &.received__unseen &__alert-number {
    display: flex;
  }
}
