.intro-head {
  width: 100%;

  // & > *:not(:last-child) {
  // }

  & > div {
    padding: 0 0.7rem;
  }

  &__logo {
    font-size: 2.8rem;
  }

  &__hero-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    & > span {
      font-size: 2rem;
    }
  }
}
