.logo {
  display: inline-block;
  padding: 0.3rem;
  font-family: 'Courier New', Courier, monospace;
  mix-blend-mode: color-burn;
  font-family: 'Acme', Courier, monospace;
  font-size: 4rem;
  color: #000000;
  opacity: 0.3;
  //   font-size: 3rem;
  // font-family: 'Beau Rivage', Courier, monospace;
  // font-weight: 900;
  //   font-size: 5rem;
  // font-family: 'Borel';
  // font-family: 'Bruno Ace';
  font-family: 'Cinzel';
  // font-weight: 500;
  // font-family: 'Cinzel Decorative';
  // font-family: 'Dancing Script';
  // font-weight: 900;
  // font-family: 'Ephesis';
  // font-weight: 600;
  // font-family: 'Lobster';
  // font-family: 'Macondo';
  // font-family: 'Marcellus';
  // font-family: 'Molle';
  // font-family: 'Monoton';
  // font-family: 'Montserrat Alternates';
  // font-family: 'Pacifico';
  // font-family: 'Raleway';

  &__phrase {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
    max-width: 60rem;
    min-width: 25rem;
    font-family: 'cinzel';
    color: #000000a4;
  }
}
