.logo {
  position: relative;
  display: inline-block;
  padding: 0.3rem;

  &__text {
    top: 0;
    left: 0;
    font-family: 'Courier New', Courier, monospace;
    // font-family: 'Acme', Courier, monospace;
    font-family: 'Cinzel';
    font-size: 4.5rem;
    mix-blend-mode: color-burn;
    color: #3a3a3a;
    opacity: 1;
  }

  &__phrase {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
    max-width: 60rem;
    min-width: 25rem;
    font-family: 'cinzel';
    color: #000000;

    & > span {
      opacity: 0.5;
    }
  }
}
