.person {
  &__img {
    width: var(--person-img-width);
    height: var(--person-img-width);
    border-radius: 50%;
    border: 2px solid transparent;

    &--me {
      width: calc(var(--person-img-width) + -1rem) !important;
      height: calc(var(--person-img-width) + -1rem) !important;
    }

    &__container {
      width: min-content;
      &--decorated {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 0.1rem;
        color: white;
      }
    }
  }
}
